{% extends 'base.html' %}
{% block content %}
    <div class="p-3 mb-2 bg-light text-dark"">
        <h4>Global Pharma Trade LLC.</h4>
    <hr>
    <br>
    <p>We reliably supply markets in Eastern Europe with active pharmaceutical ingredients (API)</p>
    <p>for veterinary and human medicinal products. For over ten years,</p>
    <p> “Global Pharma Trade LLC.“ has been trading successfully at an international level.</p>
    <p> The company has a clear-cut philosophy: a prompt service, reliability and precision.</p>
    <p>Thanks to our high-performance partner company “Global Pharma Trade LLC.”,
    <p>we are in a position to constantly guarantee the highest product quality – always at a fair rate.</p>
    </div>
{% endblock %}


